//colors
$white_30: rgba(255, 255, 255, 0.3);
$selected: #333;
$white: #fff;
$white_50: rgba(255, 255, 255, 0.5);
$black: #000;
$blue: #2196f3;


//colors
$greylight3: #eee;
$greylight2: #e0e0e0;
$grey: #9e9e9e;
$red: #f44336;
$lightblue: #add0eb;
$textblue: #4fb0fd;