@import "variables";
main {
  padding-top: 50px;
}
header {
  padding-top: 20px;
  > h1 {
    color: $selected;
    font-weight: 100;
  }
  > h3 {
    font-weight: 100;
  }
}
body {
  background-color: $greylight3;
}
.input-field {
  label {
    color: $grey;
  }
  input[type=text], input[type=email], input[type=password] {
    &:focus {
      border-bottom: 1px solid $blue;
      box-shadow: 0 1px 0 0 $blue;
      + label {
        color: $black;
      }
    }
    &.valid {
      border-bottom: 1px solid $blue;
      box-shadow: 0 1px 0 0 $blue;
    }
    &.invalid {
      border-bottom: 1px solid $red;
      box-shadow: 0 1px 0 0 $red;
    }
  }
  .prefix.active {
    color: $black;
  }
}
.switch {
  margin-top: 7px;
  label {
    .lever {
      margin: 0 7px;
    }
    input[type="checkbox"]:checked {
      &.lever {
        background-color: $lightblue;
      }
      &.lever::after {
        background-color: $textblue;
      }
    }
  }
}
.input-cart {
  min-height: 400px;
  border-top: 3px solid $blue;
  margin-top: 80px;
  margin-bottom: 100px;
}
.login {
  margin-top: 25px;
  border-right: 1px solid $greylight2;
  h4 {
    font-weight: 200;
  }
}
.policy {
  visibility: hidden;
  font-size: 13px;
}
.signupForm {
  display: none;
}
.signup {
  margin-top: 25px;
  h4 {
    font-weight: 200;
  }
}
.signup-toggle {
  cursor: pointer;
  margin-top: 140px;
}
.legal {
  border-top: 1px solid $greylight2;
}
footer > p {
  padding-top: 20px;
  color: $selected;
}
.email label {
  margin-left: 11px;
}