header>h1,
header>h2,
header>h3 {
    font-weight: 100;
}

.searchbar-wrapper {
    margin: 10px auto 0px 240px;
    width: calc(100% - 600px);
    height: 40px;
    display: inline-block;
    position: relative;
}

.searchbar {
    display: block;
    padding: 8px 8px 8px 72px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 72px;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    height: 24px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
    font-size: 16px;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    font-weight: 400;
    outline: none;
    border-radius: 3px;
}

.searchbar:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

.searchbar:focus {
    color: #333;
    background: #fff;
}

.searchbar-icon {
    position: absolute;
    top: 0;
    font-size: 24px;
    top: 6px;
    left: 24px;
    line-height: 32px !important;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
}