main {
    padding-top: 50px;
}

header {
    padding-top: 20px;
}

header > h1 {
    color: #333;
}

header > h1,
header > h3 {
    font-weight: 100;
}

body {
    background-color: #eee;
}

footer > p {
    padding-top: 20px;
    color: #333;
}